{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <h2>Your top {{nMatches}} matches are...</h2>
</div>    

<div class="container text-center">
    {% for match in topMatches %}
      <br>
      <p> <b> <h4> <a href={{match.url|safe}}> {{ match.name }} </a> </h4> </b> </p>
      <img src={{match.avatar}} alt="HTML tutorial" style="width:164px;height:164px;border:0">
      <p> <font color=#00FF00>{{ match.percent }}%</font> compatibility <br> {{match.ncommonGames}} games in common </p> 
    {% endfor %}
</div>  

{% endblock %}
