{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <h2>Steam Match</h2>
  <h4>Your top {{nMatches}} matches are... </h4>
</div>    

<div class="container text-center">
    {% for match in topMatches %}
    <div>
    	<img src={{match.avatar}} alt="HTML tutorial" style="width:82px;height:82px;border:0">
    	<p>{{ match.percent }}% with <b> <a href={{match.url|safe}}> {{ match.name }} </a> </b></p>
    </div>  
    <!-- <div><p>{{ match.percent }}% with <b> <a href= "" > {{ match.name }} ({{match.url}}) </a> </b></p></div> -->
    {% endfor %}
</div>  

{% endblock %}

{% for match in topMatches %}
<div>
	<p>{{ match.percent }}% with <b> <a href=""{{match.url}}""> {{ match.name }} </a> </b></p>
</div>  
{% endfor %}